<?xml version="1.0"?><!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  --><configuration><configSections><sectionGroup name="businessObjects"><sectionGroup name="crystalReports"><section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/></sectionGroup></sectionGroup></configSections>
	<appSettings>
     
 </appSettings>
 <connectionStrings>
     <add name="PAYROLLConnectionString" connectionString="Data Source=PAVAN-HP\MYSERVER;Initial Catalog=Employee;Integrated Security=True"
         providerName="System.Data.SqlClient" />
     <add name="EmployeeConnectionString" connectionString="Data Source=PAVAN-HP\MYSERVER;Initial Catalog=Employee;Integrated Security=True"
         providerName="System.Data.SqlClient" />
     <add name="EmployeeConnectionString2" connectionString="Data Source=PAVAN-HP\MYSERVER;Initial Catalog=Employee;Integrated Security=True"
         providerName="System.Data.SqlClient" />
     <add name="EmployeeConnectionString3" connectionString="Data Source=PAVAN-HP\MYSERVER;Initial Catalog=Employee;Integrated Security=True"
         providerName="System.Data.SqlClient" />
     <add name="EmployeeConnectionString4" connectionString="Data Source=PAVAN-HP\MYSERVER;Initial Catalog=Employee;Integrated Security=True"
         providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
				</compilation>
  </system.web>
    
<businessObjects><crystalReports><rptBuildProvider><add embedRptInResource="true"/></rptBuildProvider></crystalReports></businessObjects><system.webServer><handlers><add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/></handlers><validation validateIntegratedModeConfiguration="false"/></system.webServer></configuration>